
<li class="nav-header">
    <div class="dropdown profile-element" style="width: 100%">
        <span>
            <a href="?">
            <img alt="" src="{{url}}/img/cwp_logo.png" width="200" style="margin-right: 15px"/></a>
        </span>
    </div>
</li>

{% if mod.name =='Dashboard' %}
    <li class="active">
        <a href="?"><i class="fa fa-th-large"></i> <span class="nav-label">{{langene.TITLE}}</span></a>
    </li>
{% else %}
    <li class="">
        <a href="?"><i class="fa fa-th-large"></i> <span class="nav-label">{{langene.TITLE}}</span></a>
    </li>
{% endif %}

<!------------------------> 
<!--  SETTOINGS         -->
<!------------------------>
{% if ("crontab" in rmenu )or("change_password" in rmenu )or("process_list" in rmenu )or("phpini_editor" in rmenu )or(menu.cloudlinux ==1 )or(menu.notification_center ==1 )or(menu.cloudlinux ==1 )or(swmenu==1) %}

    {% if mod.name =='crontab' or mod.name =='phpini_editor' or mod.name =='php_selector' or mod.name =='notification_center' %}
        <li class="searchmenu active">
    {% else %}
        <li class="searchmenu">
    {% endif %}

        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">{{langene.CWPSETTING}}</span><span class="fa arrow"></span></a>

        {% if mod.name =='crontab' or mod.name =='phpini_editor' or mod.name =='php_selector' or mod.name =='notification_center' %}
            <ul class="nav nav-second-level collapse in">
        {% else %}
            <ul class="nav nav-second-level collapse">
        {% endif %}

            {% if ("crontab" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=crontab">{{langene.CRON}}</a></li>
            {% endif %}
            {% if ("process_list" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="#"data-toggle="modal" data-target="#modalprocesslist"  class="mod_process_list">{{langene.PROCESSLIST}}</a></li>
            {% endif %}
            {% if ("phpini_editor" in rmenu )or(swmenu==1) %}
            <li class="search" id="phpiniid"><a href="?module=phpini_editor">{{langene.PHPINI}}</a></li>
            {% endif %}
            {% if menu.cloudlinux ==1 %}
            <li class="search"><a href="?module=php_selector">{{langene.PHPSELECTOR}}</a></li>
            {% endif %}
            {% if ("notification_center" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=notification_center">{{langene.BTNOTITITLE}}</a></li>
            {% endif %}

        </ul>

    </li>
{% endif %}


<!------------------------> 
<!--  FILE MANAGEMENT   -->
<!------------------------>
{% if ("files_system_lock" in rmenu )or("clam" in rmenu )or("fileManager2" in rmenu )or("ftp_accounts" in rmenu )or("backups" in rmenu )or ("protected_directory" in rmenu )or(swmenu==1) %}

    {% if mod.name =='ftp_accounts' or mod.name =='backups' or mod.name =='protected_directory' %}
        <li class="searchmenu active">
    {% else %}
        <li class="searchmenu">
    {% endif %}

        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">{{langene.FILEM}}</span><span class="fa arrow"></span></a>

        {% if mod.name =='ftp_accounts' or mod.name =='backups' or mod.name =='protected_directory' %}
            <ul class="nav nav-second-level collapse in">
        {% else %}
            <ul class="nav nav-second-level collapse">
        {% endif %}

            {% if ("files_system_lock" in rmenu )or(swmenu==1) %}
                <li class="search"><a href="#" class="files_system_lock">{{langene.FILESYST}}</a></li>
            {% endif %}

            {% if ("clam" in rmenu )or(swmenu==1) %}
                <li class="search"><a href="#" id="clam" class="clam">{{langene.ANTIVI}}</a></li>
            {% endif %}

            {% if ("file_manager" in rmenu )or(swmenu==1) %}
                <li class="search"><a href="fileManager2.php" target="_blank">{{langene.FTPFILE}}</a></li>
            {% endif %}

            {% if ("ftp_accounts" in rmenu )or(swmenu==1) %}
                <li class="search"><a href="?module=ftp_accounts">{{langene.FTPACC}}</a></li>
            {% endif %}

            {% if ("backups" in rmenu )or(swmenu==1) %}
                <li class="search"><a href="?module=backups">{{langene.BACKUP}}</a></li>
            {% endif %}

            {% if (apache==1)%}
                {% if ("protected_directory" in rmenu )or(swmenu==1) %}
                    <li class="search"><a href="?module=protected_directory">{{langene.DIRPROTE}}</a></li>
                {% endif %}
            {% endif %}
        </ul>

    </li>

{% endif %}

<!------------------------> 
<!--  DOMAIN MENU       -->
<!------------------------>
{% if ("domains" in rmenu ) or ("subdomains" in rmenu ) or ("letsencrypt" in rmenu ) or (swmenu==1) %}

    {% if mod.name =='domains' or mod.name =='subdomains' or mod.name =='letsencrypt' %}
        <li class="searchmenu active">
    {% else %}
        <li class="searchmenu">
    {% endif %}

        <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">{{langene.DOMAINS}}</span><span class="fa arrow"></span></a>

        {% if mod.name =='domains' or mod.name =='subdomains' or mod.name =='letsencrypt' %}
            <ul class="nav nav-second-level collapse in">
        {% else %}
            <ul class="nav nav-second-level collapse">
        {% endif %}

            <li class="search"><a href="?module=domains">{{langene.DOMAINS}}</a></li>
            {% if ("subdomains" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=subdomains">{{langene.SUBDOMAIN}}</a></li>
            {% endif %}
            {% if ("letsencrypt" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=letsencrypt">{{langene.AUTOSSL}}</a></li>
            {% endif %}

        </ul>

    </li>

{% endif %}

<!------------------------> 
<!--  MYSQL MENU        -->
<!------------------------>
{% if ("mysql_manager" in rmenu ) or (swmenu==1) %}

    {% if mod.name == 'pma' or mod.name == 'mysql_manager' or mod.name == 'postgresql_manager' %}
        <li class="searchmenu active">
    {% else %}
        <li class="searchmenu">
    {% endif %}

        <a href="#"><i class="fa fa-database"></i> <span class="nav-label">{{langene.SQLSERV}}</span><span class="fa arrow"></span></a>

        {% if mod.name == 'pma' or mod.name == 'mysql_manager' or mod.name == 'postgresql_manager'  %}
            <ul class="nav nav-second-level collapse in">
        {% else %}
            <ul class="nav nav-second-level collapse">
        {% endif %}

            <li class="search"><a href="?module=pma" target="_blank">{{langene.PHPMYADMIN}}</a></li>
            <li class="search"><a href="?module=mysql_manager">{{langene.MANAGERMYSQL}}</a></li>
            <li class="search"><a href="#" id="mysql_processes" class="mysql_processes">{{langene.SHOWMYSQL}}</a></li>
            {% if (postgres==1) %}
                {% if ("posgresql_manager" in rmenu ) or (swmenu==1) %}
                    <li><a href="?module=postgresql_manager">{{langene.MANAGERPOSGRE}}</a></li>
                {% endif %}
            {% endif %}

        </ul>

    </li>

{% endif %}

<!------------------------> 
<!--  EMAIL MENU       -->
<!------------------------>
{% if ("email_accounts" in rmenu ) or ("mail_autoreply" in rmenu ) or ("roundcube" in rmenu ) or (swmenu==1) %}

    {% if mod.name =='email_accounts' or mod.name =='mail_autoreply' or mod.name =='mail_routing'  %}
        <li class="searchmenu active">
    {% else %}
        <li class="searchmenu">
    {% endif %}

        <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">{{langene.MAILACCOUNT}}</span><span class="fa arrow"></span></a>

        {% if mod.name =='email_accounts' or mod.name =='mail_autoreply' or mod.name =='mail_routing'  %}
            <ul class="nav nav-second-level collapse in">
        {% else %}
            <ul class="nav nav-second-level collapse">
        {% endif %}

            {% if ("email_accounts" in rmenu )or(swmenu==1) %}
            <li class="search"><a href="?module=email_accounts">{{langene.MAILACCOUNT}}</a></li>
            {% endif %}
            {% if ("mail_autoreply" in rmenu ) or (swmenu==1) %}
            <li class="search"><a href="?module=mail_autoreply">{{langene.AUTORESPONDER}}</a></li>
            {% endif %}
            {% if ("roundcube" in rmenu ) or (swmenu==1) %}
            <li class="search"><a href="{{mod.roundcube}}" target="_blank">{{langene.ROUNDCUBE}}</a></li>
            {% endif %}
            {% if ("mail_routing" in rmenu ) or (swmenu==1) %}
            <li class="search"><a href="?module=mail_routing">{{langene.DASWER}}</a></li>
            {% endif %}

        </ul>

    </li>

{% endif %}

<!------------------------> 
<!--  DNS MENU          -->
<!------------------------>
{% if ("dns_zone_editor" in rmenu )or(swmenu==1) %}

    {% if mod.name =='dns_zone_editor' %}
        <li class="searchmenu active">
    {% else %}
        <li class="searchmenu">
    {% endif %}

        <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">{{langene.DNS}} </span><span class="fa arrow"></span></a>

        {% if mod.name =='dns_zone_editor' %}
            <ul class="nav nav-second-level collapse in">
        {% else %}
            <ul class="nav nav-second-level collapse">
        {% endif %}

            <li class="search"><a href="?module=dns_zone_editor">{{langene.DNSZONEEDITOR}}</a></li>

        </ul>

    </li>

{% endif %}

<!------------------------> 
<!--  ADDON MENU        -->
<!------------------------>
{% if ("addons" in rmenu )or(swmenu==1) %}


    {% if mod.name =='addons' %}
        <li class="searchmenu active">
    {% else %}
        <li class="searchmenu">
    {% endif %}

        <a href="#"><i class="fa fa-bank"></i> <span class="nav-label">{{langene.ADDONS}}</span><span class="fa arrow"></span></a>

        {% if mod.name =='addons' %}
            <ul class="nav nav-second-level collapse in">
        {% else %}
            <ul class="nav nav-second-level collapse">
        {% endif %}

            <li class="search"><a href="?module=addons&acc=filemanager">{{langene.ASSMOD_EXPLO}}</a></li>
            <li class="search"><a href="?module=addons&acc=wordpress">{{langene.ASSMOD_WP}}</a></li>
            <li class="search"><a href="?module=addons&acc=prestashop">{{langene.ASSMOD_PS}}</a></li>
            <li class="search"><a href="?module=addons&acc=joomla">{{langene.ASSMOD_JL}}</a></li>
            <li class="search"><a href="?module=addons&acc=drupal">{{langene.ASSMOD_DP}}</a></li>

        </ul>

    </li>

{% endif %}

<!------------------------> 
<!--  SCRIPT MENU       -->
<!------------------------>
{% if ("softaculous" in rmenu )or("fantastico_f3" in rmenu ) or (softmenu==1) or (fant3menu==1)%}

    <li class="searchmenu">
        <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">{{langene.SCRIPTINST}}</span></a>
        <ul class="nav nav-second-level collapse">
            {% if(softmenu==1) %}
                {% if ("softaculous" in rmenu )or(swmenu==1) %}
                    <li class="search"><a href="?module=softaculous">{{langene.SOFTAC}}</a></li>
                {% endif %}
            {% endif %}
            {% if(fant3menu==1) %}
                <li class="search"><a href="?module=fantastico_f3&path=?/">{{langene.FANTASTICO}}</a></li>
            {% endif %}
        </ul>
    </li>

{% endif %}

<!------------------------> 
<!--  USER MENU       -->
<!------------------------>
<li class="searchmenu">

    <a href="#"><i class="fa fa-user"></i> <span class="nav-label">User {{users}} </span><span class="fa arrow"></span></a>

    <ul class="nav nav-second-level collapse">

        <li class="search"><a href="#" data-toggle="modal"  data-target="#modal-changepass">{{langene.CHANGEPASS}}</a></li>
        <li class="search"><a href="#" data-toggle="modal"  data-target="#modal-settings">{{langene.GNLABLE10}}</a></li>

    </ul>

</li>

<!------------------------> 
<!--  Logout            -->
<!------------------------>
<li  class="searchmenu">
    <a href="#" style="color: #d6474d;" class="logon"><i class="fa fa-sign-out"></i> <span class="nav-label">{{langene.BTN_LOGOUT}}</span></a>
</li>

<!------------------------> 
<!--  Disk Usage        -->
<!------------------------>
<li  class="active2 menugrande">
    <a href="#" ><i class="fa fa-tasks"></i> <span class="nav-label">{{langene.USERDD}}</span></a>
</li>

<li class="menugrande">

    <div class="ibox">
        {% set porhome=(100/mod.packquota)*mod.sizehome %}
        {% if porhome <50 %}
        {% set barhome='progress-bar-success' %}
        {% elseif porhome <=75 %}
        {% set barhome='progress-bar-warning' %}
        {% else %}
        {% set barhome='progress-bar-danger' %}
        {% endif %}
        {% set pormysql=(100/mod.packquota)*mod.sizemysql %}
        {% set pormail=(100/mod.packquota)*mod.sizemail %}
        {% set totalhost=mod.packquotaused %}
        {% set backup=(100/mod.packquota)*mod.backup_quota %}
        {% set portotal=100/mod.packquota*totalhost %}
        {% if portotal <50 %}
        {% set bartotal='progress-bar-success' %}
        {% elseif portotal <=75 %}
        {% set bartotal='progress-bar-warning' %}
        {% else %}
        {% set bartotal='progress-bar-danger' %}
        {% endif %}

        <div class="ibox-content2" style="color: #a7b1c2;">

            <h5 style="color: white">Usage</h5>

            <h3>{{portotal|round}}%</h3>
            <div class="progress progress-mini">
               <div style="width: {{portotal|round}}%;" class="progress-bar"></div>
            </div>

            <div class="stat text-center"><h4>
            </h4><small>{{totalhost|number_format(2, '.', ',')}} MB / {{mod.packquota|round}} MB</small></div>

            <div style="margin-top: 5px; margin-bottom: -5px" class="col-lg-12 text-center">
                <a href="#" id="storage"><i id="sw" class="fa fa-sort-desc"></i></a>
            </div>

            <div id="divstorage" style="display: none">

                <div class="content clearfix">
                    <i class="fa fa-folder-open-o"></i>
                    <div class="progress  progress-mini">
                        <div class="progress-bar progress-bar-success" id="bp-home" style="width: 0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="percent pull-right" id="pullhome"></span>
                    <div class="stat text-center">
                        <small id="stat-home"></small>
                    </div>
                </div>

                <div class="content clearfix" style="margin-top: 5px">
                    <i class="fa fa-envelope-open-o"></i>
                    <div class="progress  progress-mini">
                        <div class="progress-bar progress-bar-success" id="bp-email" style="width: 0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="percent pull-right" id="pullemail"></span>
                    <div class="stat text-center" >
                        <small id="stat-email"></small>
                    </div>
                </div>

                <div class="content clearfix" style="margin-top: 5px">
                    <i class="fa fa-database"></i>
                    <div class="progress  progress-mini">
                        <div class="progress-bar progress-bar-success" id="bp-mysql" style="width: 0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="percent pull-right" id="pullmysql"></span>
                    <div class="stat text-center">
                        <small id="stat-mysql"></small>
                    </div>
                </div>

                <div class="content clearfix" style="margin-top: 5px">
                    <i class="fa fa-upload"></i>
                    <div class="progress  progress-mini">
                        <div class="progress-bar progress-bar-success" id="bp-backup" style="width: 0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="percent pull-right" id="pullbackup"></span>
                    <div class="stat text-center" >
                        <small id="stat-backup"></small>
                    </div>
                </div>

            </div>
        </div>
    </div>
</li>
<li  class="active2 menugrande">
    <a href="#" ><i class="fa fa-tint"></i> <span class="nav-label">{{langene.APPLI}}</span></a>
</li>
<li class="menugrande">
    <div class="ibox">
        <div class="ibox-content2">

            <table class="table table-stripped small">
                <tbody>
                    <tr>
                        <td class="no-borders" style="color: #ffffff">
                            <h5 style="color: white">Apache:</h5>
                        </td>
                        <td class="no-borders" style="color: #a7b1c2">
                            {{mod.infoserver.apache}}
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #ffffff">
                            <h5 style="color: white">PHP:</h5>
                        </td>
                        <td style="color: #a7b1c2">
                            {{mod.infoserver.php}}
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #ffffff">
                            <h5 style="color: white">MySQL:</h5>
                        </td>
                        <td style="color: #a7b1c2">
                            {{mod.infoserver.mysql}}
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</li>

<li  class="active2 menugrande">
    <a href="#" ><i class="fa fa-question-circle"></i> <span class="nav-label">{{langene.SISTEMINFO}}</span></a>
</li>
<li class="menugrande">
    <div class="ibox">
        <div class="ibox-content2">
            <table class="table table-stripped small">
                <tbody>
                <tr>
                    <td class="no-borders" style="color: #ffffff">
                        <h5 style="color: white">DN:</h5>
                    </td>
                    <td class="no-borders" style="color: #a7b1c2">
                        {{mod.infoserver.distri}}
                    </td>
                </tr>
                <tr>
                    <td style="color: #ffffff">
                        <h5 style="color: white">KV:</h5>
                    </td>
                    <td style="color: #a7b1c2">
                        {{mod.infoserver.kernel}}
                    </td>
                </tr>
                <tr>
                    <td style="color: #ffffff">
                        <h5 style="color: white">PL:</h5>
                    </td>
                    <td style="color: #a7b1c2">
                        {{mod.infoserver.plataform}}
                    </td>
                </tr>
                <tr>
                    <td style="color: #ffffff">
                        <h5 style="color: white">UP:</h5>
                    </td>
                    <td style="color: #a7b1c2">
                        {{mod.infoserver.uptime}}
                    </td>
                </tr>
                <tr>
                    <td style="color: #ffffff">
                        <h5 style="color: white">ST:</h5>
                    </td>
                    <td style="color: #a7b1c2">
                        {{mod.dayhour}}
                    </td>
                </tr>
                <tr>
                    <td style="color: #ffffff">
                        <h5 style="color: white">Ver:</h5>
                    </td>
                    <td style="color: #a7b1c2">
                        3.20
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</li>